
.logo{
    float: left;
    width:6%;
    height:6%;
    
}

nav{
    float: right;
}

ul{
    list-style: none;
}

li{
    float: left;
    margin-left: 25px;
}

#section1{
    background-color: #F2F2F2;
    width: 65%;
    height: 500px;
    border-radius: 15px;
}

#flex1{
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
}

#flex1 img{
    width: 175px;
    height: 125px;
    border-radius: 15px 15px 0px 0px;
}

figcaption{
    background-color: white;
}

#section2{
    width: 30%;
    height:500px;
    background-color: #F2F2F2;
    border-radius: 15px;    
}

#flex2{
    display: flex;
    flex-wrap: wrap;
    
}

#flex2 figure{
    display:flex;
}

#flex2 img{
    width: 100px;
    height:110px;
    border-radius: 15px 0px 0px 15px;
}



#section3{
    height:600px;
    margin-top: 600px;
    background-color: tomato;
    
}

#flex3{
    display: flex;
    justify-content:flex-start;
}

.a{
    width: 300px;
    height: 360px;
    border-radius: 15px 15px 0px 0px;
}

.b{
    width: 300px;
    height: 150px;
    border-radius: 15px 15px 0px 0px;
}

.flex4{
    display: flex;
    flex-direction: column;
}

footer{
    background-color: #F2F2F2;
    display: flex;
    margin-top: 600px;
    flex-direction: row;

    
}

.flex5{
    width: 300px;
    height: 300px;
    margin-right: 250px;
}






